.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 24px;
  min-height: 80vh;
}
.gridHeader {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gridKey {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.gridCalendar {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.gridExtra {
  display: none;
}
.visitsTable {
  table-layout: fixed;
  width: 100%;
}
.colName { width: 160px; }
.colAddress { width: 250px; }
.colDate { width: 103px; }
.colInside { width: 85px; }
