.address-item {
	margin-bottom: 16px;
}
.address-btn-maps {
	min-width: 36px;
}
.address-btn-expand {
	min-width: 80px;
}
.address-input-field {
	max-width: 500px;
	width: 100%;
	box-sizing: border-box;
	min-height: 38px;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	font-size: 1rem;
}

.section-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 0;
	text-align: left;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
