html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
}

body > div.app-frame, #__next > div.app-frame {
	width: 100%;
	max-width: 90vw;
	margin-left: 10vw;
	margin-right: 10vw;
	box-sizing: border-box;
	max-height: calc(100vh - 100px);
	overflow: auto;
}

.app-container {
	width: 80vw;
}

.clickable {
  cursor: pointer;
}




