
.review-date-input {
	width: 180px !important;
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

.section-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 0;
	text-align: left;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

